.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  
  
body{
    background-color: rgba(241, 241, 243, 1);
    max-width: 1600px;
    margin: 0 auto;
    align-items: center;
}
.full-width{
        /* max-width: 1280px; */
        align-items: center;
        margin-top: 160px;
        margin-left: 160px;
        margin-right: 160px;
  }
header{
    
    display: flex;
    background-color: #C6E4D6;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    padding: 80px 50px 80px 50px ;
    gap: 64px;
    /* margin: 20px 160px 80px 160px; */

    margin-bottom: 80px;
  }
.header-left{
   
   margin-bottom: 80px;
   margin-top: 30px;
   margin-left: 30px ;
   margin-right: ;
    
  }
.header-left-small{
    font-size: 24px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: -16px;
    /* margin-bottom: 16px; */
  }
.header-left-title{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.header-explore{
    border-radius: 8px;
    background-color: #006A50;
    color: #FFFFFF;
    height: 56px;
    width: 270px;
    font-size: 18px;
    font-weight: 600;
    border: none;
}
.header-right{
    width: ;
}
.future-vision{
    margin-bottom: 32px;
}
.vision-three{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 24px;
    
}
.vision-padding{
    width: 100%;
    padding: 32px;
    border-radius: 16px;
}
.vision-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.vision-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.first-vision{
    background-color: rgba(84, 144, 245, 0.2);
    max-width:fit-content;
    
}
.second-vision{
    background-color: rgba(198, 228, 214, 1);
}
.third-vision{
    background-color: rgba(247, 235, 207, 1) ;
}
.vision-learn{
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    
    border: none;
}
.first-vision >.vision-learn{
    background-color: rgba(84, 144, 245, 1);
    padding: 11px 20px;
}
.second-vision>.vision-learn{
    background-color: rgba(9, 161, 92, 1);
    padding: 11px 20px;
}
.third-vision>.vision-learn{
    background-color: rgba(255, 194, 57, 1);
    padding: 11px 20px;
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 80px;
    
    
}
.card-1{
    background-color: rgba(255, 255, 255, 1);
    padding: 48px;
    display: flex;
    border-radius: 24px;
    gap: 32px;
}

.card-2{
    background-color: rgba(255, 255, 255, 1);
    padding: 48px;
    display: flex;
    border-radius: 24px;
    gap: 32px;

}

.card-image{
    border-radius: 24px;
}

.card-title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 12px;

}
.time-and-date{
    margin-right: 12px;
}
.card-read-more-button{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 106, 80, 1);
    padding: 13px 26px 13px 26px;
}

/* donate part */
.donate{
    text-align: center;
}
.donate-four{
    display: flex;
    margin-bottom: 32px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
}
.donate-title{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 24px;
    
}
.donate-description{
    max-width: 1600px;
}
.donate-money{
    background-color: rgba(255, 255, 255, 1);
    padding: 40px;
    border-radius: 16px;
    width: 270px;
    font-size: 40px;
    font-weight: bold;
}
.hover-effect:hover{
    background-color: blue; 
    cursor: pointer;
}

.donate-money:hover {
    background-color: #0b572c; 
    cursor: pointer;
}
.donate-other-amount{
    height: 64px;
    width: 92%;
    border: none;
    text-align: center;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
    margin-bottom: 32px;
}
.donate-now-button{
    background-color: rgba(0, 106, 80, 1);
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    padding: 17px 34px;
}
.donate-money-bg{
    background-color: rgba(198, 228, 214, 1);
}
.donate-now-button{
    margin-bottom: 30px;
}
.sub-newsletter{
    background-color: rgba(198, 228, 214, 1);
    text-align: center;
    padding: 80px 100px;
    border-radius: 24px ;
    margin-bottom: 30px;
}
.email-here{
    height: 55px;
    width: 600px;
    border: none;
    border-radius: 8px 0px 0px 8px;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
    margin-bottom: 32px;
    padding: 18px 40px 18px 40px;
}
.email-subs{
    display: flex;
    justify-content: center;
    /* justify-content: space-between;
    gap: 0px;
    align-items:; */
}
.subscribe{
    border-radius: 0px 8px 8px 0px;
    height: 92px;
    
}
/* quote */
.quote{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    padding: 24px 48px;
    background-image: url(../B11A1--assignment-1/assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 24px;
    
}
.quote-desc{
    font-size: 16px;
    padding-bottom: 12px;
}
.quote-speaker{
    font-size: 20px;
    font-weight: 600;
}